<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY CORE APP</title>
</head>
<body>
    <h1 style="text-align: center; color: aqua;"></h1>
    <h2 class="text-center",>Login to my acccess my dashboard:</h2>

    <div class="text-center mt-5 text-white">
        <div class="d-flex justify-content-center">
            <button class="mx-2 btn btn-sm text-white btn-primary">
                <a class="text-white" href="{% url 'signup'%}">Sign Up</a>
            </button>
            <button class="mx-2 btn btn-sm text-white btn-warning">
                <a class="text-white" href="">Log in</a>
            </button>
        </div>
    </div>
    
</body>
</html>